<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">Badge Maker</a>      
    </div>    
    <ul class="nav navbar-nav navbar-right">
      <li><i class="glyphicon glyphicon-th"></i></li>
      <div class="custom-menu-content hidden">
        <div class="custom-menu">
          <div class="hide-arrow"></div>
          <div class="custom-menu-cont">
            <div class="custom-menu-item">
              <a class="custom-icon" href="http://github.com/sangamcse/badgeyay" target="_blank">
                <img src="static/images/code.png">
                <p class="custom-title">Code</p>
              </a>
            </div>
            <div class="custom-menu-item">
              <a class="custom-icon" href="http://github.com/sangamcse/badgeyay/issues" target="_blank">
                <img src="static/images/bug.png">
                <p class="custom-title">Bug Report</p>
              </a>
            </div>
            <div class="custom-menu-item">
              <a class="custom-icon" href="http://www.meetsangamcse.me" target="_blank">
                <img src="static/images/sangamcse.png">
                <p class="custom-title">sangamcse</p>
              </a>
            </div>
          </div>
        </div>
        <div class="custom-arrow"></div>
      </div>
    </ul>
  </div>
</nav>